
.nav {
    grid-area: nav;
    background-color: rgb(124, 197, 124);
    padding: 15px;

    ul {
      margin-left: 0;
      padding-left: 0;
    }

    li {
      list-style: none;
      margin-bottom: 10px;

      &:last-child {
        margin-top: 30px;
      }
    }

    .item a {
      text-decoration: none;
      color:white;

      &.active {
        color: blue;
      }
    }

  }

  .friend_title {
    font-size: 25px;
    color: white;
  }

  .friends_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
 