* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

